policy-pool.h
haar_standalone_test

# contiki ignores
*.a
*.bin
*.hex
*.map
*.png
*.log
*.elf
*.zip
*.d
*.o
*.e
*.ihex
*.i16hex
*.pyc
*~
obj_*
Makefile.target
Makefile.*.defines
tools/doxygen/html
patches-*
tools/tunslip
tools/tunslip6
build
tools/coffee-manager/build/
tools/coffee-manager/coffee.jar
COOJA.testlog

# platform build artifacts
*.cc2538dk
*.cooja
*.jn516x
*.native
*.nrf52dk
*.openmote-cc2538
*.sky
*.firmware
*.srf06-cc26xx
*.zoul
